doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title My Gulp Skel
    link(rel='stylesheet', type='text/css', href='./main.css')
    script(type='text/javascript', src='./main.js')
  body
    form
      input#playButton(type='button', value='play')
