doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title My Gulp Skel
    link(rel='stylesheet', type='text/css', href='./main.css')
    script(type='text/javascript', src='./main.js')
  body
    h1 wasy
    form
      input(type='radio', name='midiSource', value='file', checked='checked')
      input#fileButton(type='file')
      br
      input(type='radio', name='midiSource' value='select')
      select#fileSelector
      br
      input#playButton(type='button', value='play')
    div
      canvas#keyboardCanvas(width=640, height=480)